In [69]:
from gspread_pandas import Client
import gspread_pandas
from pandas import DataFrame

In [70]:
client = Client()

In [145]:
# Starting Budget
id = '1XmLtn9rPnowNX1DAeMuHfRbU3g5SfLQp_5SBXMVtMr0'
df = gspread_pandas.spread.Spread(id).sheet_to_df().reset_index()
table_one_title = df.columns[0]
tbl1_rows = [i for i, x in enumerate(df['Foundation Needs'].values) if len(set(x)) == 1][0]
tbl_one_unformatted = df.iloc[:tbl1_rows, :1].values

In [168]:
# Create Table
tbl_one_cols = tbl_one_unformatted[0][0]
items = [lst[0][0].strip() for lst in tbl_one_unformatted[1:] if lst[0][0]]
links = [lnk[0][1].strip() for lnk in tbl_one_unformatted[1:]][:len(items)]
costs = [cst[0][2].strip() for cst in tbl_one_unformatted[1:]][:len(items)]
tbl_one = DataFrame().from_dict({tbl_one_cols[0].capitalize(): items,
                              tbl_one_cols[1].capitalize(): links,
                              tbl_one_cols[2].capitalize(): costs})

In [169]:
tbl_one

,Item,Link,Cost
0,Polono Thermal Label Printer,https://smile.amazon.com/dp/B0995JWCT1/?coliid...,$115.99
1,Wowxyz Honeycomb Packing Paper Wrap,https://smile.amazon.com/dp/B0915ZN4HR/?coliid...,$15.29
2,Duck Fiberglass Reinforced Gummed Kraft Paper ...,https://smile.amazon.com/dp/B0026RHV7A/?coliid...,$13.44
3,Water Activated Paper Tape Dispenser with Gumm...,https://smile.amazon.com/dp/B09C3CWHK7/?coliid...,$29.99
4,10lb - 320 Newsprint Paper,https://smile.amazon.com/Packing-Paper-Sheets-...,$23.97
5,"Coitak 1/2 Inch Cotton Twill Ribbon, 66 Yards",https://smile.amazon.com/Coitak-Binding-Trimmi...,$8.98
6,Printer Paper,,

In [158]:
# Table Two
table_two_title = df.iloc[tbl1_rows:tbl1_rows+1,:1].values[0][0][0]
tbl_two_unformatted = df.iloc[tbl1_rows+1:, :1].values

In [170]:
# Create Table
tbl_two_cols = tbl_two_unformatted[0][0]
items = [lst[0][0].strip() for lst in tbl_two_unformatted[1:] if lst[0][0]]
links = [lnk[0][1].strip() for lnk in tbl_two_unformatted[1:]][:len(items)]
costs = [cst[0][2].strip() for cst in tbl_two_unformatted[1:]][:len(items)]
tbl_two = DataFrame().from_dict({tbl_two_cols[0].capitalize(): items,
                                 tbl_two_cols[1].capitalize(): links,
                                 tbl_two_cols[2].capitalize(): costs})

tbl_two

In [249]:
# Table Three

tbl_three_title = df.columns[2]
tbl_three_range = [ i for i, x in enumerate(df.iloc[:,2:3].values) if x == ''][0]
tbl_three_unformatted = df.iloc[:tbl_three_range,2:5]
tbl_three_cols = tbl_three_unformatted.iloc[:1,:].values[0]
tbl_three_unformatted = tbl_three_unformatted.iloc[1:,].values

items = [lst[0] for lst in tbl_three_unformatted if lst[0]]
costs = [cst[1].strip() for cst in tbl_three_unformatted][:len(items)]
freq = [lst[2] for lst in tbl_three_unformatted][:len(items)]
tbl_three = DataFrame().from_dict({tbl_three_cols[0].capitalize(): items,
                                   tbl_three_cols[1].capitalize(): freq,
                                   tbl_three_cols[2].capitalize(): costs})

tbl_three

                Item          Cost Frequency
0  Studio Membership             1      $350
1         Travel gas  (Estimation)       $50

In [329]:
# Table Four

tbl_four_range = [i+1 for i, x in enumerate(df.iloc[tbl_three_range:,-1:].values) if '$' in x[0]][1]
tbl_four_unformatted = df.iloc[tbl_four_range:,2:]
tbl_four_title = tbl_four_unformatted.iloc[:1,:].values[0][0]
tbl_four_cols = list(set(tbl_four_unformatted.iloc[1:,].values[0]))

items = [x[0] for x in tbl_four_unformatted.iloc[2:,].values]
costs = [x[1] for x in tbl_four_unformatted.iloc[2:,2:].values]
tbl_four = DataFrame().from_dict({tbl_four_cols[0].capitalize(): items,
                                  tbl_four_cols[1].capitalize(): costs
                                 })

In [330]:
tbl_four

                                          Item    Cost
0  Custom Logo Metal Stamp for Pottery Artists  $25.86
1                            Cookie cutter set   $7.99
2                              Split-leg apron  $17.99